body {
  background-color: #666;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  color: #e1e1e1;
}

section {
  border-bottom: 1px solid #efefef;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

article {
  margin: 20px;
}

article img {
  width: 350px;
}

input,
textarea {
  appearance: none;
  border-radius: 0.35em;
  border: 2px solid transparent;
  color: #666;
  display: block;
  outline: 0;
  padding: 0 0 0 1em;
  text-decoration: none;
  height: 2.75em;
  margin: 0 1em 0 1em;
  background-color: #e1e1e1;
}
